.container {
	max-width: 1170px;
	margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Noah Head';
  src: url('../fonts/noah-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-Regular.woff2') format('woff2');
}
