.container {
  max-width: 1170px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

@font-face {
  font-family: "Syncopate";
  src: url("../fonts/Syncopate-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-regular";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Unbounded-bold";
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Unbounded-black";
  src: url("../fonts/Unbounded-Black.woff2") format("woff2");
}
