.header {
  padding: 12px 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
}

.header__logo img {
  height: 32px;
}

/* NAVIGATION */
.header__nav {
  display: none;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav__link {
  font-family: "Gilroy-regular";
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav__link:hover {
  color: #7da4ff;
}

.header__socials {
  display: none;
}

/* BURGER MENU */
.header__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* ========== DESKTOP ========== */
@media (min-width: 768px) {
  .header__container {
    max-width: min(1470px, 83vw);
    margin: 0 auto;
    padding: 20px;
    width: 100%;
  }

  .header__burger {
    display: none;
  }

  .header__nav {
    display: block;
  }
  /* SOCIAL ICONS */
  .header__socials {
    display: flex;
    gap: 12px;
  }
  .social__link img {
    width: 22px;
    height: 22px;
    filter: brightness(100%);
    transition: filter 0.2s ease;
  }

  .social__link:hover img {
    filter: brightness(60%);
  }
}
