.hero {
  background-image: url(../../images/mobile-background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: clamp(100vh, 55vw, 130vh);
}

.hero__title {
  font-family: "Syncopate";
  color: #fff;
  font-size: min(53px, 11vw);
  word-wrap: break-word;
}

.hero__subtitle {
  font-family: "Gilroy-regular";
  color: #fff;
  font-size: min(15px, 6vw);
}

.hero__button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 40px;
  padding: 18px 33px;
  font-size: 15px;
  font-family: "Gilroy-bold";
}

.hero__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.hero__content {
  position: relative;
  z-index: 2;
  padding: 100px 0;
  max-width: 100%;
}

@media (min-width: 768px) {
  .hero {
    background-image: url(../../images/header-banner.png);
    justify-content: flex-start;
    text-align: left;
  }

  .hero__content {
    padding-top: clamp(50px, 12vw, 160px); 
    padding-left: clamp(0px, 9vw, 160px);
    max-width: 700px;
  }

  .hero__title {
    font-size: min(125px, 8vw);
    word-wrap: normal;
    letter-spacing: 4px;
    line-height: 0.7;
  }

  .hero__subtitle {
    font-size: 20px;
    margin-left: 11px;
  }

  .hero__button {
    font-size: 20px;
    padding: 24px 48px;
    margin-left: 9px;
  }
}
