.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/mobile-background.png"); /* мобільний фон */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero__content {
  position: relative;
  z-index: 2;
  padding: 100px;
  max-width: 700px;
}

.hero__title {
  font-family: "Syncopate";
  font-size: 54px;
  margin-bottom: 11px;
}

.hero__subtitle {
  font-family: "Gilroy-regular";
  font-size: 15px;
  margin-bottom: 1px;
  color: #fff;
}

.hero__button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 18px 33px;
  border-radius: 40px;
  font-family: "Gilroy-regular";
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero__button:hover {
  background-color: #dcdcdc;
}

/* Десктопна версія */
@media (min-width: 768px) {
  .hero {
    background-image: url("../../images/header-banner.png"); /* фон для десктопу */
    justify-content: flex-start;
    text-align: left;
  }

  .hero__content {
    padding-left:134px;
    max-width: 700px;
  }

  .hero__title {
    font-size: 106px;
  }

  .hero__subtitle {
    font-size: 20px;
  }

  .hero__button {
    font-size: 20px;
    padding: 24px 48px;
  }
}